{% extends "app/layout.html" %}

{% block content %}

<div style="float: left; width:50%;">
   <h3><img src="static/app/images/smlogo.png"/></h3>
    <h5>Corporate Address</h5>
<address>
    111 Beach Street<br />
    Boston, MA 02111<br />
    <abbr title="Phone">P:</abbr>
    978.760.0236
</address>
  
<address>
    <strong>Support:</strong>   <a href="mailto:support@pendleton.ai">help@pendleton.ai</a><br />
    <strong>Sales</strong> <a href="mailto:sales@pendleton.ai">sales@pendleton.ai</a>
</address>
      </div>
<div style="float: left; width:50%;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2948.625816514275!2d-71.06020878477652!3d42.35050044369836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1484534908554" width="400" height="300" frameborder="0" style="padding-top:75px" allowfullscreen></iframe>
    </div>

{% endblock %}
