{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <img src="static/app/images/logo6.png" alt="Company Logo" />

</div>

<div class="row">
    <div style="background-color:transparent !important" class="col-md-4">
        <h2><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Model Testing</h2>
        <p>
            Pendleton provides third party model testing services to augment investor presentations, create new products and increase efficiency for product management.
        </p>
        <p><a class="btn btn-default" href=/about">Learn more &raquo;</a></p>
    </div>
    <div style="background-color:transparent !important" class="col-md-4">
        <h2><span class="glyphicon glyphicon-tint" aria-hidden="true"></span>Database Design</h2>
        <p>Efficient database design is critical for scaling enterprises. Pendleton offers exemplorary front end design, unique functionality, and custom views to keep your team connected.</p>
        <p><a class="btn btn-default" href=/about>Learn more &raquo;</a></p>
    </div>
    <div style="background-color:transparent !important" class="col-md-4">
        <h2><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Deep Learning</h2>
        <p>Empower your business to grow for you, not with you. Machine Learning capabilities allow for realtime analysis and decision making.</p>
        <p><a class="btn btn-default" href=/about>Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
